<center>
  <div id="welcome">
    <h1>Quincy Iheme</h1>
    <p>
      Hi, welcome to the personal website for Quincy Iheme! Please pardon the website appearance, it is currently under construction. Please take a look my <a href="http://www.github.com/qiheme">Github</a> page for my public code repo, or took at look my <a href="http://www.linkedin.com/in/qiheme">LinkedIn</a> for my professional profile. Thank you for visiting my site!!
    </p>
  </div>
</center>
