/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color: #fdfdfd;
  background-size: 100%;
  font-family: 'Oswald', sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  top: 0px;
  width: 100%;
  height: 9%;
  position: fixed;
  border-bottom: 1px solid #8E8E8E;
  z-index: 1;
  background-color: white;
}

header ul#name {
  float: left;
  margin-left: 2.5%;
  list-style-type: none;
}

header ul#menu {
  float: right;
  margin-right: 2.5%;
  list-style-type: none;
}

header li {
  display: inline;
  padding: 5px;
}