#welcome {
 background-image: url(comp.jpg);
 background-size: 100% 1000px;
 background-repeat: no-repeat;
 height: 1000px;
 width: 100%;
}

/*#welcome h1 {

}

#welcome p {
  font-family: 'Gloria Hallelujah', cursive;
  padding-left: 30px;
  padding-right: 30px;
}

.stats {
  margin: 30%;
  width: 100%;
  background-color: green;
  position: relative;
  top: 300px;
  display: inline-block;
}

#about {
  margin: 30%;
  width: 50%;
  display: block;
  background-color: red;
}

#tech {
  margin: 30%;
  width: 50%;
  display: block;
  background-color: blue;
}

*/